header{
    font-size: 2rem;
    padding: .5rem;
}

h1{
    text-align: center;
    font-weight: 500;
}

.resume-span{
    color: green;
    background-color: #eeecec;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
}